#root {
  height: 100%;
  /* overflow-x: hidden; */
}

.App {
  direction: rtl;
  /* height: max-content; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.footer {
  height: 200px;
  width: 100%;
}

.container{
  margin-top: 60px;
  width: 75%;
  height: 100%;
}

h1 {
  font-size: 64px;
  font-weight: 800;
}

h2, th {
  font-size: 1.33em;
  margin-bottom: 0.66em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

ul {
  list-style: none;
}

img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* -webkit-transform: translateZ(0);
  transform: translateZ(0); */
}

button,
input,
select,
textarea {
  font-size: 16px;
  font-family: 'Assistant', Helvetica, sans-serif;
  resize: none;
}

select option:checked { 
  display: none;
}

button {
  background: none;
  border: none;
  flex-grow: 1;
  height: 50px;
  max-height: 100%;
  width: 25%;
  position: relative;
  cursor: pointer;
  z-index: 3;
  overflow: hidden;
}

button::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #ededed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

button::after {
  content: '';
  height: 100%;
  width: 20px;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform: skew(-20deg) scale(1);
  transform-origin: center;
  z-index: -1;
  transition: .2s;
}

button:hover::after {
  transform: scaleX(30);
}

.dark-button {
  color: white;
}

.dark-button::before {
  background-color: black;
}

.dark-button::after {
  background-color: #262626;
}

.clear-button {
  height: max-content;
  width: max-content;
  padding: 5px;
  padding-right: 0;
  color: #EF9F00;
  font-size: .83em;
  transition: filter .3s;
}

.clear-button::before,
.clear-button::after {
  content: none;
}

.clear-button:hover {
  filter: brightness(110%);
}

.black-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: black;
  color: white;
  padding: 2em 0;
  position: relative;
}

.black-section::before {
  content: '';
  height: 100%;
  width: 100vw;
  background-color: black;
  position: absolute;
  top: 0;
  right: -12.5vw;
  z-index: -1;
}

.white-section {
  padding: 2em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.white-section h2 {
  color: #EF9F00;
}

.white-section::before,
.white-section::after {
  content: '';
  width: 200px;
  height: 100%;
  background-color: #ededed;
  position: absolute;
  top: 0;
  transform: skew(-20deg);
  z-index: -1;
}

.white-section::before {
  left: -12.5vw;
}

.white-section::after {
  right: -12.5vw;
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}