.product-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-section {
  display: flex;
  gap: 50px;
  padding: 2em 0;
}

.product-image-logo {
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.product-image {
  height: 80%;
}

.product-logo {
  height: 15%;
}

.product-info {
  width: 50%;
  padding-top: 2em;
}

.product-name {
  position: relative;
  width: 75%;
}

.product-name::after {
  content: '';
  width: 66%;
  height: 1px;
  background-color: #9a9a9a;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.product-price-color {
  margin: 20px 0 40px;
  width: 50%;
}

.product-price-contain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-price-number {
  font-weight: bold;
}

.product-color-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-color-list {
  display: flex;
  gap: 0.41em;
}

.product-color {
  height: 0.83em;
  width: 0.83em;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.3s;
}

.product-color:hover {
  filter: brightness(110%);
}

.product-color.selected {
  border: 0.125em solid rgba(0, 0, 0, 0.25);
}

.product-cta {
  display: flex;
  gap: 2em;
}

.product-feature::before {
  content: '+';
  margin-left: 0.66em;
  color: #ef9f00;
}

.slider {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider img {
  height: 90%;
  width: 100%;
}

.slider-img-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider-btn {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.black-out{
  position: absolute;
  top: 0;
  right: -12.5vw;
  width: 100vw;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
  backdrop-filter: blur(2px);
}

.modal-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: calc(100% - 25vw);
  z-index: 100;
  padding: 1em 0;
  height: max-content;
}

.modal-container::before {
  content: '';
  background-color: white;
  width: 100vw;
  height: 100%;
  position: absolute;
  right: -12.5vw;
  top: 0;
  z-index: -100;
}

.modal-cart {
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #9a9a9a;
  padding-left: 1em;
}

.modal-cart ::-webkit-scrollbar {
  display: initial;
}

.modal-cart-list {
  max-height: 540px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: space-between;
  align-content: flex-start;
  gap: 1em;
}

.cart-card {
  display: flex;
  gap: 1em;
  position: relative;
  padding-left: 0.66em;
}

.cart-card:not(:last-of-type):after {
  content: '';
  width: calc(100% - 0.66em);
  height: 1px;
  position: absolute;
  bottom: -0.66em;
  right: 0;
  background-color: #9a9a9a;
}

.cart-card-image-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.cart-card-image-logo img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.cart-card-image {
  height: 80%;
}

.cart-card-logo {
  height: 15%;
}

.cart-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-card-row input {
  border: none;
  font-size: 1em;
  direction: ltr;
  width: 25%;
  caret-color: transparent;
}

.cart-card-row input:focus {
  outline: none;
}

.cart-card-row input::-webkit-inner-spin-button {
  opacity: 1;
}

.cart-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.33em;
}

.modal-summary {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.modal-summary-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.33em;
  margin-bottom: 2em;
}

.modal-btns {
  display: flex;
  width: 100%;
  gap: 1em;
}

.product-videos{
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  justify-content: space-between;
}

iframe {
  border: 2px solid #9a9a9a;
  border-radius: 8px;
  aspect-ratio: 16/8;
  width: 32%;
}

